<header>
    <div class="menu-container">
      <div class="menu-bar">
        <a href="#" routerLink='/' class="logo">RecipeBase</a>
        <nav>
          <ul>
            <li><a href="#" routerLink='/' routerLinkActive="active">
              <img class="icon" src="../assets/icons/home-icon.svg" alt="home" />
              <span>
                Home
              </span>
           
            </a></li>
            <li><a href="#" routerLink='/information' routerLinkActive="active">
              <img class="icon" src="../assets/icons/information-icon.svg" />
              <span>Information</span>
            </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>