<div class="nav-footer">
  <footer>
    <div class="footer-inner">
      <p class="footer-heading">Contacts</p>
      <div class="footer-details">
          <img src="../../assets/icons/email.svg" alt="email">
          <a href="mailto:erikahendsel@gmail.com" >erikahendsel@gmail.com</a>
      </div>
      <div class="footer-details">
          <img src="../../assets/icons/linkedin.svg" alt="linkedin">
          <a href="https://www.linkedin.com/in/erika-hendsel-67b2111a5/" target="_blank" rel="noopener noreferrer">Erika Hendsel</a>
      </div>
  </div>
  <div class="footer-inner">
      <p class="footer-heading">Projects</p>
      <div class="footer-details">
          <img src="../../assets/icons/github.svg" alt="github"><a href="https://github.com/erikahendsel" target="_blank" rel="noopener noreferrer">erikahendsel</a>
      </div>
      <div class="footer-details">
          <img src="../../assets/icons/website.svg" alt="website"><a href="https://erikahendsel.com/" target="_blank" rel="noopener noreferrer">erikahendsel.com</a>
      </div>
  </div>
  <div class="footer-inner">
      <p class="footer-heading">Information</p>
      <div class="footer-details">
          <img src="../../assets/icons/edamam-logo.png" alt="github"><a href="https://developer.edamam.com/" target="_blank" rel="noopener noreferrer">Developer Edamam</a>
      </div>
      <div class="footer-details">
          <img src="../../assets/icons/food-icon.svg" alt="website"><a href="#" routerLink='/information'>RecipeBase Information Page</a>
      </div>
  </div>
    </footer>
</div>
