<div class="information-container">
   <h2 class="title">Information</h2>
   <div class="content">
    <img src="../../assets/images/breakfast.svg" alt="breakfast" class="info-image">
   
    <div class="content">
        <p>Wondering what to do with your bought beef piece? Just type "beef" in the search bar and RecipeBase will find 10 recipes with an ingredient list! No need to scram around the web, scroll down those long blog post just to find what ingredients you can use, or get those annoying popups for cookies or e-mail lists just to find that ONE recipe you want to make this evening. Search in the base, look at the ingredients and then if you like the list, you can click on the recipe link and get taken to the official page knowing what to expect.</p>
    </div>
   </div>

   <div class="faq">
       <h2 class="title">FAQ</h2>
    <div class="row">
        <p class="question">What framework did you use to create RecipeBase?</p>
        <p class="answer">Angular</p>
    </div>
    <div class="row">
        <p class="question">What API did you use?</p>
        <p class="answer">I used the <a href="https://developer.edamam.com/edamam-recipe-api" target="_blank">Edamam Recipe Search API</a></p>
    </div>
    <div class="row">
        <p class="question">Why do I see "Sorry, fetching limit reached. Please wait 1 minute and then refresh the page." message?</p>
        <p class="answer">The Edamam free API provides only 10 calls per minute. Please wait a minute and then refresh your browser.</p>
    </div>
    <div class="row">
        <p class="question">I have other questions</p>
        <p class="answer">Feel free to e-mail me on erikahendsel@gmail.com</p>
    </div>
 
</div>

  
    
</div>