<div class="popover-shadow" (click)='closeRecipeDetails($event)'>
    <div class="popover">
        <div class="close">
            <button class="close-btn">Close</button>
        </div>
       
        <div class="popover-container">
            <p class="recipe-title">{{_http.singleRecipeDetails.label}}</p>
            <div class="popover-content">
                <div class="popover-recipe-image">
                    <img src={{_http.singleRecipeDetails.image}}/>
                </div>
             
         
                <div class="recipe-details">
                    <p><b>Source:</b> {{_http.singleRecipeDetails.source}}</p>
                    <p><b>Coocking time:</b> {{_http.singleRecipeDetails.totalTime > 0 ?  _http.singleRecipeDetails.totalTime + ' minutes' : 'Depends on you'}}</p>
                    <p><b>Calories:</b> {{_http.formatNumber(_http.singleRecipeDetails.calories)}}</p>

                    <p><b>Diet Labels:</b><span *ngFor="let dietLabel of _http.singleRecipeDetails.dietLabels; last as isLast"> {{dietLabel}}<span *ngIf="!isLast">,</span></span></p>

                    <p><b>Official recipe link: </b> <a href={{_http.singleRecipeDetails.url}} target="_blank">here</a></p>
                
                    <p><b>Health Labels:</b><span *ngFor="let healthLabel of _http.singleRecipeDetails.healthLabels; last as isLast"> {{healthLabel}}<span *ngIf="!isLast">,</span> </span></p>
                
                </div>

                <div class="bottom-content">
                    <p><b>Ingredients:</b></p>
                    <ul *ngFor="let ingredientLine of _http.singleRecipeDetails.ingredientLines">
                        <li>{{ingredientLine}}</li>
                    </ul>
                </div>

                <div class="image-container">
                    <img src="../../assets/images/breakfast.svg" />
                </div>
            </div>

        </div>

    </div>
</div>