@import "../../style_variables.scss";

img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popover-shadow {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: rgba(19, 19, 19, 0.8);
  width: 100%;
}
.popover {
  position: fixed;
  height: 90%;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: $secondary-color;
  width: 90%;
  border: 1px solid $primary-color;
  border-radius: 10px;
  overflow-y: scroll;
}
.popover-container {
  padding: 1em;
}
.close {
  position: relative;
  height: 2.5em;
  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 1em 1.7em 1.8em;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: $font-big;
    border-bottom-left-radius: 80%;
    border-top-right-radius: 8px;
    border: none;
  }
}
@media only screen and (min-width: 700px) {
  .popover-recipe-image {
    max-width: 400px;
  }
  .popover-container {
    padding: 1em 4em;
  }
  .popover-content {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .bottom-content {
    grid-column: 1/3;
  }
}
