@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:wght@400;700&display=swap");
$primary-color: rgb(57, 151, 89);
$secondary-color: rgb(255, 255, 255);
$sub-color: rgb(255, 250, 131);

$main-font: "Nunito", "sans-serif";
$secondary-font: "Carter One", cursive;

$font-big: 1.125rem;
$font-medium: 1rem;
